<ion-header>
  <ion-navbar [color]="platform.is('android') ? 'atp-blue-light' : 'light'">
    <ion-title>About ATP</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="about-page">
  <ion-list no-lines>
    <ion-item class="about-headline">
      SOCIAL MEDIA
    </ion-item>
    <ion-item>
      <i item-left class="fa fa-facebook"></i>
      Like us on facebook soon
    </ion-item>
    <ion-item>
      <i item-left class="fa fa-twitter"></i>
      Follow us on twitter soon
    </ion-item>
    <ion-item>
      <i item-left class="fa fa-globe"></i>
      Visit us on <a class="color-black" href="http://www.askthepeople.io">www.askthepeople.io</a>
    </ion-item>
  </ion-list>

  <ion-list no-lines>
    <ion-item class="about-headline">
      LEGAL
    </ion-item>
    <ion-item>
      All rights reserved
    </ion-item>
    <ion-item>
      &copy; PacWorx 2017
    </ion-item>
  </ion-list>

  <ion-list no-lines>
    <ion-item class="about-headline">
      PACWORX
    </ion-item>
    <ion-item>
      Proudly made in New Zealand
    </ion-item>
    <ion-item>
      info@askthepeople.io
    </ion-item>
  </ion-list>
</ion-content>

