<ion-header>
  <ion-navbar [color]="platform.is('android') ? 'atp-blue-light' : 'light'">
    <ion-title>Personal Data</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="personal-data-page grey-background" padding>
  <ion-list>
    <ion-item no-lines="">
      <strong>My Data</strong>
    </ion-item>
    <ion-item>
      <ion-label class="color-black">Year of birth:</ion-label>a
      <ion-label *ngIf="!yearOfBirth" class="ion-date-placeholder">(yyyy)</ion-label>
      <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" [min]="minYear" [max]="maxYear" [(ngModel)]="yearString" (ionChange)="yearChanged()" cancelText="" doneText="OK" placeholder="(yyyy)"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label class="flex-space-between">
        Gender:
        <span class="buttongroup">
          <button ion-button small [outline]="male ? null : ''" (click)="genderChanged(true)">Male</button>
          <button ion-button small [outline]="(male === false) ? null : ''" (click)="genderChanged(false)">Female</button>
        </span>
      </ion-label>
    </ion-item>
    <ion-item (click)="showCountrySelection()">
      <ion-label class="flex-space-between">
        Country:
        <span class="flex-center" *ngIf="country"><img src="assets/img/flags/{{country.alpha3}}.png" class="flag margin-right-small"> {{country.nameEng}}</span>
        <span *ngIf="!country" class="text-placeholder">please choose</span>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!model.user.username">
    <ion-item no-lines>
      <div><strong>Choose your username</strong></div>
      <small class="text-placeholder text-wrap">You cannot change your username, choose wisely. Username is used to be shown in the highscore.</small>
    </ion-item>
    <ion-item>
      <ion-label floating>Your Username (4-15 characters)</ion-label>
      <ion-input type="text" [(ngModel)]="newUsername"></ion-input>
    </ion-item>
    <ion-item><button ion-button full [disabled]="newUsername.length < 4 || newUsername.length > 15" (click)="submitUsername()">Save</button></ion-item>
  </ion-list>

    <ion-list *ngIf="!model.user.email">
      <ion-item no-lines>
        <div><strong>Secure your account</strong></div>
        <small class="text-placeholder text-wrap">Be able to login to your account from multiple devices or when somehow your App-data gets lost. We cannot reactivate your account when you have not secured it.</small>
      </ion-item>
      <ion-item>
        <ion-label floating>Email address</ion-label>
        <ion-input type="email" [(ngModel)]="newEmail"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password (min 8 characters)</ion-label>
        <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Repeat Password</ion-label>
        <ion-input type="password" [(ngModel)]="newPasswordRepeat"></ion-input>
      </ion-item>
      <ion-item><button ion-button full [disabled]="!setEmailValid()" (click)="submitSetEmail()">Save</button></ion-item>
    </ion-list>

  <ion-list *ngIf="model.user.email && !model.user.emailConfirmed">
    <ion-item no-lines>
      <div><strong>Confirm your Email address</strong></div>
      <small class="text-placeholder text-wrap">Please check your emails and confirm that you own {{model.user.email}}.</small>
    </ion-item>
    <ion-item>
      Already confirmed? <button item-right ion-button (click)="reloadStatus()">Reload my status</button>
    </ion-item>
    <ion-item>
      Not received? <button item-right ion-button (click)="resendConfirmationEmail()">Resend Email</button>
    </ion-item>
    <ion-item no-lines>
      <strong>Wrong email address?</strong>
    </ion-item>
    <ion-item>
      <ion-label floating>New Email</ion-label>
      <ion-input type="email" [(ngModel)]="changeEmail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Your Password</ion-label>
      <ion-input type="password" [(ngModel)]="changeEmailPassword"></ion-input>
    </ion-item>
    <ion-item><button ion-button full [disabled]="!changeEmailValid()" (click)="submitChangeEmail()">Change Email</button></ion-item>
  </ion-list>

  <ion-list *ngIf="model.user.email && model.user.emailConfirmed">
    <ion-item no-lines>
      <strong>Your Email address</strong>
    </ion-item>
    <ion-item>
      <i class="fa fa-check color-green"></i> {{model.user.email}}
    </ion-item>
    <ion-item no-lines>
      <strong>Want to change your Email address?</strong>
    </ion-item>
    <ion-item>
      <ion-label floating>New Email</ion-label>
      <ion-input type="email" [(ngModel)]="changeEmail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Your Password</ion-label>
      <ion-input type="password" [(ngModel)]="changeEmailPassword"></ion-input>
    </ion-item>
    <ion-item><button ion-button full [disabled]="!changeEmailValid()" (click)="submitChangeEmail()">Change Email</button></ion-item>
  </ion-list>

  <ion-list *ngIf="model.user.email">
    <ion-item no-lines>
      <strong>Change Password</strong>
    </ion-item>
    <ion-item>
      <ion-label floating>Old Password</ion-label>
      <ion-input type="password" [(ngModel)]="changePasswordOld"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>New Password (min 8 characters)</ion-label>
      <ion-input type="password" [(ngModel)]="changePasswordNew"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Repeat New Password</ion-label>
      <ion-input type="password" [(ngModel)]="changePasswordNewRepeat"></ion-input>
    </ion-item>
    <ion-item><button ion-button full [disabled]="!changePasswordValid()" (click)="submitChangePassword()">Save</button></ion-item>
  </ion-list>
</ion-content>
