.title-line {
  padding: 0 !important;
  .toolbar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;

    .title-logo {
      width: 4.5rem;
    }

    .toolbar-text {
      text-align: center;
      flex-grow: 1;
    }

    .title-settings {
      font-size: 3.5rem;
      margin-right: 0.5rem;
    }
  }
}

.main-page {

  .scroll-content {
    background: $atp-blue-light;
  }

  .trophy-image {
    width: 30vw;
    max-width: 180px;
  }

  .survey-button {
    background-color: $atp-blue-dark;
    padding: 0 4em;
    &.activated {
      background-color: $atp-blue;
    }
  }

  .diamond-icon {
    height: 1em;
    margin-left: 6px;
  }

  .text-sub {
    font-size: 0.9em;
  }
}
