.multi-picture-survey-details {
  background-color: $atp-light-grey2;

  .country {
    margin-right: 1vw;
    float: left;
  }

  .sub-survey {
    &.no-margin {
      ion-label {
        margin-bottom: 0;
      }
    }
    ion-label {
      margin-top: 2px;
    }
  }
}
