<ion-header>
  <ion-navbar>
    <ion-title>Survey Details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="multi-picture-survey-details" padding>
  <ion-card>
    <ion-item>
      <span class="status-circle {{meta.status}}"></span> {{meta.answered}} votes in {{getTimeDiff()}}
    </ion-item>
    <ion-item><span>Title:</span> <span [class.text-placeholder]="!meta.title">{{meta.title ? meta.title : 'no title'}}</span></ion-item>
    <ion-item>
      <div class="flex-space-between">
        <span>Age: {{meta.minAge}} - {{meta.maxAge}}</span>
        <span>
          Gender:
          <ion-icon name="male" color="atp-blue" *ngIf="meta.male && !(meta.male && meta.female)"></ion-icon>
          <ion-icon name="female" color="pink" *ngIf="meta.female && !(meta.male && meta.female)"></ion-icon>
          <ion-icon name="transgender" color="favorite" *ngIf="meta.male && meta.female"></ion-icon>
        </span>
      </div>
    </ion-item>
    <ion-item>
      <span item-left>Countries:</span>
      <span class="text-placeholder" *ngIf="countries.length == 0">no restriction</span>
      <span class="country" *ngFor="let country of countries"><img src="assets/img/flags/{{country}}.png" class="flag larger"></span>
    </ion-item>
  </ion-card>
  <ion-card *ngFor="let picture of meta.pictures">
    <ion-item (click)="toggleShowDetails(picture)">
      <single-survey-bar [answered]="picture.votesInvolved"
                         [leftPic]="picture.picture"
                         [leftPicCount]="picture.votesFor"
                         [rightPicCount]="picture.votesAgainst"
                         [noOpinionCount]="picture.votesNoOpinion">
      </single-survey-bar>
    </ion-item>
    <div [ngClass]="isShowDetails(picture) ? 'item-expand active' : 'item-expand inactive'">
      <div *ngFor="let survey of meta.surveys | surveyContainsPicture: picture.pictureId; let lastItem = last">
        <ion-item class="sub-survey" [class.no-margin]="!lastItem">
          <single-survey-bar [surveyId]="survey.id"
                             [status]="survey.status"
                             [answered]="survey.answered"
                             [rightPic]="survey.pic1_id == picture.pictureId ? survey.pic2 : survey.pic1"
                             [leftPicCount]="survey.pic1_id == picture.pictureId ? survey.pic1Count : survey.pic2Count"
                             [rightPicCount]="survey.pic1_id == picture.pictureId ? survey.pic2Count : survey.pic1Count"
                             [noOpinionCount]="survey.noOpinionCount">
          </single-survey-bar>
        </ion-item>
      </div>
    </div>
  </ion-card>
</ion-content>
