.multi-picture-survey-details {
  background-color: $atp-light-grey2;

  .country {
    margin-right: 1vw;
    float: left;
  }

  ion-card {
    display: block;
    position: relative;
    margin: 5px 5px 5px 0;
    width: 100%;
  }

  .sub-survey {
    &.no-margin {
      ion-label {
        margin-bottom: 0;
      }
    }

    ion-label {
      margin-top: 2px;
    }
  }

  /* Accordion item expand */
  .item-expand {
    position: relative;
    width: 100%;
    max-height: 0;
    transition: max-height 0.1s ease-out;
    overflow: hidden;
  }

  .item-expand.inactive:after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 100%;
    display: block;
  }

  .item-expand.active {
    max-height: 100vh;
    transition: max-height 0.3s ease-out;
  }
}
