<ion-header>
  <ion-navbar>
    <ion-title>Survey Details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="survey-details" padding>
  <div class="picture-container">
    <img [src]="'data:image/jpeg;base64,' + survey.pic1" class="pic pic1-img"/>
    <img [src]="'data:image/jpeg;base64,' + survey.pic2" class="pic pic2-img"/>
  </div>

  <ion-card>
    <ion-list-header class="summary-title">
      Summary
    </ion-list-header>
    <div>
      <ion-item no-lines class="no-margin">
        <single-survey-bar [startedDate]="survey.startedDate"
                           [status]="survey.status"
                           [answered]="survey.answered"
                           [leftPicCount]="survey.pic1Count"
                           [rightPicCount]="survey.pic2Count"
                           [noOpinionCount]="survey.noOpinionCount">
        </single-survey-bar>
      </ion-item>
      <ion-item>Title: <span [class.text-placeholder]="!survey.title">{{survey.title ? survey.title : 'no title'}}</span></ion-item>
      <ion-item>
        <div class="flex">
          Age:
          <span class="margin-left-small text-wrap text-placeholder" *ngIf="noAgeRestriction">no restriction</span>
          <span class="margin-left-small text-wrap" *ngIf="!noAgeRestriction">{{getAgeDescription()}}</span>
        </div>
      </ion-item>
      <ion-item>
        Gender:
        <ion-icon name="male" color="atp-blue" *ngIf="survey.male && !(survey.male && survey.female)"></ion-icon>
        <ion-icon name="female" color="pink" *ngIf="survey.female && !(survey.male && survey.female)"></ion-icon>
        <ion-icon name="transgender" color="favorite" *ngIf="survey.male && survey.female"></ion-icon>
      </ion-item>
      <ion-item>
        <span item-left>Countries:</span>
        <span class="text-placeholder" *ngIf="countries.length == 0">no restriction</span>
        <span class="country" *ngFor="let country of countries"><img src="assets/img/flags/{{country}}.png" class="flag larger"></span>
      </ion-item>
    </div>
  </ion-card>

  <ion-card *ngIf="survey.answers && survey.answers.length > 0">
    <ion-list-header class="detail-title" (click)="toggleStatistics()">
      <ion-icon [ios]="statisticsExpand ?  'ios-arrow-down' : 'ios-arrow-forward'"
                [name]="statisticsExpand ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
      Detailed Statistics
    </ion-list-header>
    <div [ngClass]="statisticsExpand ? 'item-expand active' : 'item-expand inactive'">
      <ion-item *ngFor="let country of survey.answers | country">
        <ion-label class="flex-space-between detail">
          <single-survey-bar [answered]="country.pic1 + country.pic2 + country.noOpinion"
                             [leftPicCount]="country.pic1"
                             [rightPicCount]="country.pic2"
                             [noOpinionCount]="country.noOpinion"
                             [title]="getCountryFlag(country.alpha3)">
          </single-survey-bar>
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let gender of survey.answers | gender">
        <ion-label class="flex-space-between detail">
          <single-survey-bar [answered]="gender.pic1 + gender.pic2 + gender.noOpinion"
                             [leftPicCount]="gender.pic1"
                             [rightPicCount]="gender.pic2"
                             [noOpinionCount]="gender.noOpinion"
                             [title]="getGenderIcon(gender.gender)">
          </single-survey-bar>
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let age of survey.answers | age">
        <ion-label class="flex-space-between detail">
          <single-survey-bar [answered]="age.pic1 + age.pic2 + age.noOpinion"
                             [leftPicCount]="age.pic1"
                             [rightPicCount]="age.pic2"
                             [noOpinionCount]="age.noOpinion"
                             [title]="getAgeName(age.ageRange)">
          </single-survey-bar>
        </ion-label>
      </ion-item>
    </div>
  </ion-card>
</ion-content>
