.survey-details {
  background-color: $atp-light-grey2;

  .picture-container {
    display: flex;
    margin-bottom: 4vw;
    justify-content: space-between;
  }

  ion-card {
    display: block;
    position: relative;
    margin: 5px 5px 5px 0;
    width: 100%;
  }

  .pic {
    width: 44vw;
    height: 44vw;
    border: 2px $atp-dark-grey2 solid;
  }

  .summary-title {
    color: $atp-blue;
    font-size: medium;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    i {
      font-size: 1.2rem;
      width: 4vw;
    }
  }

  .detail-title {
    color: $atp-blue;
    font-size: medium;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    i {
      font-size: 1.2rem;
      width: 4vw;
    }
  }

  .no-margin {
    ion-label {
      margin-top: 0;
    }
  }

  .detail {
    .detail-label {
      width: 15vw;
    }
    single-survey-bar {
      width: 100%;
    }
  }

  .country {
    margin-right: 1vw;
    float: left;
  }

  /* Accordion item expand */
  .item-expand {
    position: relative;
    width: 100%;
    max-height: 0;
    transition: max-height 0.1s ease-out;
    overflow: hidden;
  }

  .item-expand.inactive:after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 100%;
    display: block;
  }

  .item-expand.active {
    max-height: 100vh;
    transition: max-height 0.3s ease-out;
  }
}
