.survey-details {
  background-color: $atp-light-grey2;

  .picture-container {
    display: flex;
    margin-bottom: 4vw;
    justify-content: space-between;
  }

  .pic {
    width: 44vw;
    height: 44vw;
    border: 2px $atp-dark-grey2 solid;
  }

  .detail-title {
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    i {
      font-size: 1.2rem;
      width: 4vw;
    }
  }

  .detail {
    .detail-label {
      width: 15vw;
    }
    single-survey-bar {
      width: 100%;
    }
  }

  .flag {
    height: 1.2em;
    border: 1px black solid;
  }
  .country {
    margin-right: 1vw;
    float: left;
  }
}
