<ion-list>
  <ion-item><span class="text-wrap color-dark">Before you start we need to know a little bit about you to find fitting ATPs</span></ion-item>
  <ion-item *ngIf="showAge">
    <ion-label class="color-dark">Your age:</ion-label>
    <ion-select #val (ionChange)="ageRangeChanged(val.value)">
      <ion-option *ngFor="let range of model.ageRanges" [value]="range.id">{{range.description}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="showGender">
    <ion-label class="flex-space-between color-dark">
      Gender:
      <span class="buttongroup">
          <button ion-button small outline (click)="genderChanged(true)">Male</button>
          <button ion-button small outline (click)="genderChanged(false)">Female</button>
        </span>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="showCountry" (click)="showCountrySelection()">
    <ion-label class="flex-space-between color-dark">
      Country:
      <span class="text-placeholder">please choose</span>
    </ion-label>
  </ion-item>
</ion-list>
