.settings-page {
  ion-list-header {
    font-weight: 600;
    ion-icon {
      width: 3vw;
    }
  }

  .item-input ion-label, .item-select ion-label, .item-datetime ion-label {
    color: inherit;
  }

  .error-label {
    color: red;
    font-weight: 600;
    float: right;
  }
}