// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  atp-blue:   #3e85c7,
  atp-blue-light: #659dd2,
  atp-placeholder-grey: #acacac,
  atp-gold: #e8e61b,
  atp-golder: #e8c41c,
  atp-dark-grey: #73776e,
  light-danger: #ff9f2c,
  white: #ffffff
);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";



$atp-light: #f9f9f9;
$atp-gold: #d2ce0f;
$atp-danger: #c70c13;
$atp-blue-light: #659dd2;
$atp-blue: #3e85c7;
$atp-blue-dark: #134c7d;
$atp-light-blue: #ddefff;
$atp-grey: #828282;
$atp-light-grey: #f5f5f5;
$atp-light-grey2: #d4dde5;
$atp-light-grey3: #b6c5d3;
$atp-light-grey4: #dedede;
$atp-dark-grey2: #97adc1;
$atp-placeholder-grey: #acacac;
$atp-dark-text: #646f79;
$atp-green-success: #7ed321;
$atp-red: #d0021b;
$atp-orange: #ff953a;



ion-title {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &.has-back-arrow {
    .toolbar-title {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

.badge-in-button {
  position: absolute;
  font-size: 1rem;
  right: 0;
  top: 0;
}

ion-badge {
  border-radius: 10px !important;
}

.text-center {
  text-align: center;
}

.text-h5 {
  font-size: 1.2em;
}

.text-h4 {
  font-size: 1.4em;
}

.text-h2 {
  font-size: 2em;
}

.small-headline {
  color: $atp-grey !important;
  font-size: 1.2rem !important;
  margin-bottom: 8px;
}
ion-card-header.small-headline {
  padding: 8px;
}

.color-grey {
  color: $atp-grey;
}

.color-blue {
  color: $atp-blue;
}

.color-dark {
  color: $atp-dark-text;
}

.color-white {
  color: white;
}

.color-black {
  color: black !important;
}

.color-red {
  color: $atp-red;
}

.color-green {
  color: $atp-green-success;
}

.light-background {
  background-color: $atp-light;
}

.grey-background {
  background-color: $atp-light-grey2 !important;
}

.white-background {
  background-color: white;
}

.blue-background {
  background-color: $atp-blue;
}

.light-blue-background {
  background-color: $atp-blue-light !important;
}

.item {
  background-color: inherit;
}

.text-danger {
  color: $atp-danger;
  font-weight: 600;
}

.text-placeholder {
  color: $atp-placeholder-grey !important;
}

.text-wrap {
  white-space: normal;
}

.ion-date-placeholder {
  @extend .text-placeholder;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.no-border {
  border: 0;
}

.flag {
  height: 1.2em;
  border: 1px black solid;
}

.float-right {
  float: right;
}

.hidden {
  display: none;
}

.buttongroup {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  button:first-child {
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    margin-left: 0;
  }

  button:last-child {
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin-right: 0;
  }

  button {
    position: relative;
    float: left;
    box-shadow: none;
    margin: 0 -1px;
    border-radius: 0px;
  }
}




.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-left-strech {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}




.margin-small-vertical {
  margin-top: 8px;
  margin-bottom: 8px;
}

.margin-top-small {
  margin-top: 8px;
}
.margin-top-middle {
  margin-top: 16px !important;
}

.margin-right-small {
  margin-right: 8px;
}
.margin-right-middle {
  margin-right: 16px;
}

.no-margin-top {
  margin-top: 0;
}

.padding-top-middle {
  padding-top: 24px;
}

.padding-right-middle {
  padding-right: 24px;
}

.padding-bottom-middle {
  padding-bottom: 24px;
}

.padding-left-middle {
  padding-left: 24px;
}

.padding-vertical-middle {
  padding-top: 24px;
  padding-bottom: 24px;
}

.padding-vertical-small-middle {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding-vertical-small {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-horizontal-middle {
  padding-right: 16px;
  padding-left: 16px;
}

.padding-horizontal-small {
  padding-right: 8px;
  padding-left: 8px;
}

.padding-right-small {
  padding-right: 8px;
}

.padding-left-small {
  padding-left: 8px;
}

.padding-top-small {
  padding-top: 8px;
}

.padding-bottom-small {
  padding-bottom: 8px;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-vertical {
  padding-top: 0;
  padding-bottom: 0;
}



.modal-background {
  @extend .flex-center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.4);

  .modal-content {
    min-width: 45vw;
  }
}

.croppie-modal {
  background-color: $atp-light;
  border: 2px solid black;
  .croppie-container {
    padding: 2vw;
  }

  .modal-buttons {
    @extend .flex-space-around;
    margin-top: 2vw;
    margin-bottom: 4vw;
  }
}

.atp-list {
  ion-item:nth-child(even) {
    background-color: $atp-blue;
  }
  ion-item:nth-child(odd) {
    background-color: $atp-blue-light;
  }
  ion-item {
    border-bottom: none !important;
    border-top: none !important;
  }
}

.fake-link {
  text-decoration: underline;
}


.status-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  margin-right: 4px;
  &.ACTIVE {
    background-color: $atp-green-success;
  }
  &.FINISHED {
    background-color: $atp-red;
  }
  &.ABUSE {
    background-color: $atp-orange;
  }
}

.fa-diamond {
  font-size: 0.8em !important;
}
