<div class="margin-top-middle" *ngIf="!survey.multiPicture">
  <single-survey-bar [surveyId]="survey.surveys[0].id"
                     [startedDate]="survey.surveys[0].startedDate"
                     [status]="survey.surveys[0].status"
                     [answered]="survey.surveys[0].answered"
                     [leftPic]="survey.surveys[0].pic1"
                     [rightPic]="survey.surveys[0].pic2"
                     [leftPicCount]="survey.surveys[0].pic1Count"
                     [rightPicCount]="survey.surveys[0].pic2Count"
                     [noOpinionCount]="survey.surveys[0].noOpinionCount">
  </single-survey-bar>
</div>

<div (click)="openSurveyDetails()" class="multi-picture-item margin-top-middle" *ngIf="survey.multiPicture">
  <div class="flex-center padding-vertical-small">
    <span class="status-circle {{survey.status}}"></span> {{survey.answered}} votes in {{getTimeDiff()}}
  </div>
  <div class="pictures">
    <span *ngFor="let picture of survey.pictures" class="multi-pictures">
      <img [src]="'data:image/jpeg;base64,' + picture.picture" class="survey-list-img">
      <div class="flex-center">{{picture.votesFor}}</div>
    </span>
  </div>
</div>
