<ion-header>
    <ion-toolbar class="centered">
        <ion-title *ngIf="!survey">loading survey ...</ion-title>
        <ion-title *ngIf="survey">{{survey.title ? survey.title : 'no title'}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="answer-survey">
    <div id="survey-content">
        <div *ngIf="survey && !showTitle" class="picture-container">
            <img [src]="'data:image/jpeg;base64,' + survey.pic1" (click)="selectPicture(1)" [width]="picSize" [height]="picSize" class="pic" [class.enabled]="enabled" [class.disabled]="!enabled"/>
            <img [src]="'data:image/jpeg;base64,' + survey.pic2" (click)="selectPicture(2)" [width]="picSize" [height]="picSize" class="pic" [class.enabled]="enabled" [class.disabled]="!enabled"/>
        </div>
        <div *ngIf="survey && showTitle" class="bigTitle">
            <div class="survey-title-lookat">Look at:</div>
            <div class="survey-title">{{survey.title}}</div>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="threeButtonToolbar">
            <div class="btn homeBtn" (click)="goHome()"><ion-icon name="home"></ion-icon><br/>Home</div>
            <div class="btn abuseBtn" (click)="reportAbuse()"><ion-icon name="alert"></ion-icon><br/>Report Abuse</div>
            <div class="btn skipBtn" (click)="selectPicture(0)"><ion-icon name="redo"></ion-icon><br/>Skip</div>
        </div>
    </ion-toolbar>
</ion-footer>