<ion-header>
  <ion-navbar color="atp-blue">
    <div class="color-white text-center">
      <div class="text-h5">Please choose</div>
    </div>
    <ion-buttons end>
      <button ion-button icon-only (click)="reportAbuse()" color="light">
        <ion-icon name="warning"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="light-blue-background">
  <div *ngIf="survey">
    <div class="survey-title color-white flex-space-between">
      <div [@titleState]="titleAnimationState" class="text-h4 text-center flex-grow">{{survey.title ? survey.title : '&nbsp;'}}</div>
    </div>
    <div class="enlarge-icons color-white flex-space-between" *ngIf="!showSlider">
      <i class="fa fa-search-plus" [@buttonState]="buttonAnimationState" (click)="toggleSlider(1)"></i>
    </div>
    <div *ngIf="!showSlider">
      <div class="picture-container">
        <img [src]="'data:image/jpeg;base64,' + survey.pic1" [@pic1State]="pic1AnimationState" (click)="selectPicture(1)" class="pic"/>
        <img [src]="'data:image/jpeg;base64,' + survey.pic2" [@pic2State]="pic2AnimationState" (click)="selectPicture(2)" class="pic"/>
      </div>
      <div class="button-container" [@buttonState]="buttonAnimationState" (@buttonState.done)="animationDone()">
        <div class="flex-center">
          <button ion-button class="option-button" (click)="selectPicture(0)">I don't know</button>
        </div>
      </div>
    </div>
    <div *ngIf="showSlider" class="slider-container">
      <ion-slides pager="true" loop="true" #pictureSlider (click)="slideClick()">
        <ion-slide>
          <img [src]="'data:image/jpeg;base64,' + survey.pic1" [@pic1State]="pic1AnimationState" class="pic"/>
        </ion-slide>
        <ion-slide>
          <img [src]="'data:image/jpeg;base64,' + survey.pic2" [@pic2State]="pic2AnimationState" class="pic"/>
        </ion-slide>
        <ion-slide>
          <img src="assets/img/i-dont-know-{{iDontKnowImageIndex}}.png" class="pic">
        </ion-slide>
      </ion-slides>
      <div class="help-text">swipe to change picture | tap to choose</div>
    </div>
  </div>
</ion-content>
