survey {
  .toolbar {
    overflow: inherit;
  }
  .survey-title {
    padding-top: 4.5vh;
    margin-left: 6vw;
    margin-right: 6vw;
  }
  .enlarge-icons {
    position: absolute;
    top: 15vh;
    height: 5vh;
    width: 88vw;
    margin-left: 6vw;
    margin-right: 6vw;
    .fa {
      font-size: 2.4rem;
    }
  }

  .picture-container {
    .pic {
      position: absolute;
      top: 20vh;
      border: 2px $atp-light-grey2 solid;
      width: 41vw;
      height: 41vw;
      z-index: 10;
      &:first-child {
        left: 6vw;
      }
      &:last-child {
        right: 6vw;
      }
    }
  }
  .button-container {
    position: absolute;
    bottom: 15vw;
    left: 6vw;
    width: 88vw;

    .option-button {
      width: 100%;
      background-color: $atp-light-grey2;
      color: $atp-dark-text;
      text-transform: inherit;
      white-space: normal;
      &.activated {
        background-color: $atp-light-grey3;
      }
    }
  }
  .slider-container {
    position: absolute;
    top: 15vh;
    width: 88vw;
    margin-left: 6vw;
    margin-right: 6vw;

    .pic {
      width: 88vw;
      height: 88vw;
      border: 2px $atp-light-grey2 solid;
    }

    .slide-zoom {
      margin-bottom: 8vh;
    }
    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      background-color: white;
    }
    .help-text {
      color: #cccccc;
      text-align: center;
      font-style: italic;
    }
  }
}
