<ion-content class="welcome-page" [style.height]="deviceHeight + 'px'">
  <div class="logo">
    <img src="assets/img/icon-invert.png">
    <div>ATP beta</div>
  </div>
  <ion-slides pager="true">
    <ion-slide>
      <h1 class="color-dark padding-top-small">Welcome to ATP</h1>
      <div class="welcome-text">
        ATP stands for Ask the People and is a picture based community driven decision helper
      </div>
      <div class="flex-space-between welcome-links">
        <button ion-button clear color="atp-blue" (click)="startATP()">I am new</button>
        <button ion-button clear color="atp-blue" (click)="slideNext()">Login</button>
      </div>
    </ion-slide>
    <ion-slide>
      <form [formGroup]="loginForm">
        <ion-list>
          <ion-item>
            <ion-label floating>email address</ion-label>
            <ion-input type="email" [(ngModel)]="email" formControlName="email"></ion-input>
          </ion-item>
          <p *ngIf="loginForm.controls['email'].touched && !loginForm.controls['email'].valid" class="login-form-error" padding-left>
            Invalid email address
          </p>
          <ion-item>
            <ion-label floating>password</ion-label>
            <ion-input type="password" [(ngModel)]="password" formControlName="password"></ion-input>
          </ion-item>
          <p *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid" class="login-form-error" padding-left>
            Password must be at least 8 character long
          </p>
        </ion-list>
        <div class="action-items">
          <button ion-button color="light" class="login-button" [disabled]="!loginForm.valid" (click)="login()">Login
          </button>
          <div (click)="forgotPassword()" class="welcome-links">Forgot password</div>
          <div (click)="startATP()" class="welcome-links">I am new to ATP</div>
        </div>
      </form>
    </ion-slide>
  </ion-slides>
  <div class="flex-grow">&nbsp;</div>
  <div class="footer">&copy; {{currentYear}} pacworx</div>
</ion-content>
