purchase-page {
  .reward-img {
    height: 10vw;
    min-height: 10vw;
    width: 10vw;
    min-width: 10vw;
  }

  .product-img {
    font-size: 10vw;
  }

  .reward-text {
    margin-left: 8px;
    margin-right: 8px;
    white-space: normal;
  }

  .reward-title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .reward-description {
    font-size: 1.2rem
  }

  .claim-button {
    width: 70px;
    min-width: 70px;
    img {
      height: 1.4rem;
      margin-left: 2px;
    }
  }

  .header-md::after {
    background-image: none;
    bottom: 0;
  }

  .toolbar-md {
    padding: 0;
  }

  .segment-md .segment-button {
    font-size: 1.4rem;
  }

  .item-expand {
    position: relative;
    width: 100%;
    max-height: 0;
    transition: max-height 0.1s ease-out;
    overflow: hidden;
  }

  .item-expand.inactive:after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 100%;
    display: block;
  }

  .item-expand.active {
    max-height: 20vh;
    transition: max-height 0.3s ease-out;
  }
}
