.achievement-img {
  height: 10vw;
}

.achievement-text {
  margin-left: 8px;
  margin-right: 8px;
  white-space: normal;
}

.achievement-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.achievement-description {
  font-size: 1.2rem
}
