.survey-list-item {
  display: flex;
  background-color: $atp-light-grey2;
  border: 2px $atp-light-grey2 solid;
  color: $atp-dark-text;

  .survey-item-data {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .survey-item-text {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .survey-item-diagram {
      height: 3rem;
      background-color: white;
      display: flex;
      font-weight: 500;
      font-size: 1.4em;
      border-left: 2px solid $atp-light-grey2;
      border-right: 2px solid $atp-light-grey2;

      div:not(:last-child) {
        border-right: 2px solid $atp-light-grey2;
      }
      .survey-item-diagram-pic1 {
        @extend .flex-left;
        span {
          margin-left: 5px;
        }
        padding-top: 0.2em;
        background-color: $atp-light-grey3;
      }
      .survey-item-diagram-noOpinion {
        @extend .flex-center;
        padding-top: 0.2em;
        background-color: $atp-light-grey;
      }
      .survey-item-diagram-pic2 {
        @extend .flex-right;
        span {
          margin-right: 5px;
        }
        padding-top: 0.2em;
        background-color: $atp-dark-grey2;
      }
    }
  }
}

.multi-picture-item {
  background-color: $atp-light-grey2;
  border: 2px $atp-light-grey2 solid;
  color: $atp-dark-text;
  .pictures {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;

    .multi-pictures:not(:first-child) {
      margin-left: 2vw;
    }

    .multi-pictures {
      min-width: 10vh;
      max-width: 10vh;
      width: 10vh;
    }
  }
}

.survey-list-img {
  width: 10vh;
  height: 10vh;
}
