.loading-page {
  background-color: $atp-blue;
  background-image: inherit;

  .logo {
    position: fixed;
    top: 15vw;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: $atp-light;
    font-size: 1.3em;
    img{
      width: 20vw;
      height: auto;
    }
  }

  .loading {
    color: $atp-light;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .startup-progress {
    width: 60vw;
    height: 12px;
    border: 2px solid $atp-light;
    border-radius: 10px;
    overflow: hidden;

    .startup-progress-bar {
      background-color: $atp-dark-grey2;
      height: 100%;
    }
  }

  .step-message {
    color: $atp-dark-grey2;
  }

  .startup-message {
    position: fixed;
    bottom: 15vw;
    left: 15vw;
    width: 70vw;
    background-color: $atp-blue-light;
    padding: 5vw;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    color: $atp-light-grey;
  }
}
