<ion-header>
  <ion-navbar>
    <ion-title>Start your new ATP</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="start-survey">
  <ion-list>
    <ion-list-header no-lines>
      What is your target audience?
    </ion-list-header>
    <ion-item>
      Gender:
      <a href="" (click)="changeGender($event)" item-right>
        <span *ngIf="survey.male && !survey.female">male only</span>
        <span *ngIf="!survey.male && survey.female">female only</span>
        <span *ngIf="survey.male && survey.female">any</span>
      </a>
    </ion-item>
    <ion-item class="item-no-lower-border">
      Age:
      <span item-right class="age-range">
      {{ageRange.lower}} - {{ageRange.upper}} years
    </span>
    </ion-item>
    <ion-item>
      <ion-range dualKnobs="true" min="1" max="99" [(ngModel)]="ageRange" class="no-padding-top"></ion-range>
    </ion-item>
    <ion-item>
      Countries:
      <span class="text-placeholder" *ngIf="countries.length > 0">(click on flag to remove country)</span>
      <span class="text-placeholder" *ngIf="countries.length == 0" item-right>no restriction</span>
      <a href="" *ngIf="countries.length < 20" (click)="addCountry($event)" item-right>
        Add
      </a>
      <div class="countries">
      <span class="country" *ngFor="let country of countries" (click)="removeCountry(country)"><img
        src="assets/img/flags/{{country}}.png" class="flag"></span>
      </div>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header no-lines>
      Add 2-5 pictures:
      <a href="" *ngIf="pictures.length < 5" (click)="choosePicture($event)" item-right>
         Add picture
      </a>
    </ion-list-header>

    <div class="picture-container">
      <div *ngFor="let pic of pictures; let idx = index" class="pic">
        <img [src]="'data:image/jpeg;base64,' + pic"/>
        <div class="remove" (click)="deletePicture(idx)">
          <i class="fa fa-times"></i>
        </div>
      </div>
    </div>
    <ion-item>
      <ion-label stacked primary class="stacked-title">Short description (optional):</ion-label>
      <ion-input type="text" maxLength="25" [(ngModel)]="survey.title"
                 placeholder="Example: {{exampleText}}"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list no-lines>
    <ion-list-header no-lines>
      ATP-Range:
    </ion-list-header>
    <ion-item *ngIf="pictures.length > 2">
      {{pictures.length}} pictures lead to {{numberOfSurveys}} ATPs.
    </ion-item>
    <ion-item>
      {{surveyType.name}} ({{surveyType.answers}} people)
      <a href="" (click)="changeSurveyType($event)" item-right>
        change
      </a>
    </ion-item>
    <ion-item *ngIf="model.user.credits < surveyType.costs">
      <i item-right class="color-red no-margin-top">You don't have enough pax for this ATP-Range!</i>
    </ion-item>
  </ion-list>

  <div class="submit-row">
    <button ion-button full [disabled]="!surveyComplete()" (click)="startSurvey()" class="start-survey-button">
      Start ATP ({{numberOfSurveys * surveyType.costs}} <img src="assets/img/diamond-white.png" class="diamond-icon">)
    </button>
  </div>

  <div [class.modal-background]="croppie" [class.hidden]="!croppie" (click)="destroyCroppie()">
    <div class="croppie-modal" (click)="$event.stopPropagation()">
      <div id="new-croppie"></div>
      <div class="modal-buttons">
        <button ion-button small outline (click)="destroyCroppie()">Cancel</button>
        <button ion-button small outline color="dark" icon-only (click)="rotateLeft()">
          <ion-icon name="undo"></ion-icon>
        </button>
        <button ion-button small outline color="dark" icon-only (click)="rotateRight()">
          <ion-icon name="redo"></ion-icon>
        </button>
        <button ion-button small (click)="saveCroppedPicture()">Take it</button>
      </div>
    </div>
  </div>
</ion-content>
