.start-survey {

  ion-list-header {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 2rem;
    font-weight: 600;
    a {
      font-size: 1.6rem;
      font-weight: normal;
    }
  }

  .item-no-lower-border {
    .item-inner {
      border-bottom: none;
    }
  }

  .stacked-title {
    font-size: 1.6rem !important;
    color: black !important;
  }

  .picture-title {
    margin: 4vw 4vw 0 4vw;
    font-size: 1.6rem;
  }

  .picture-container {
    margin: 0 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .pic {
    position: relative;
    margin-top: 4vw;
    border: 2px $atp-dark-grey2 solid;
    width: 44vw;
    height: 44vw;

    img {
      width: 44vw;
      height: 44vw;
    }

    .remove {
      position: absolute;
      top: 0;
      right: 0;
      width: 5vw;
      height: 5vw;
      background-color: white;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .countries {
    margin-top: 6px;
  }

  .country {
    margin-right: 1vw;
    float: left;
  }

}

.submit-row {
  padding: 16px;
  border-top: 1px $atp-light-grey4 solid;

  .start-survey-button {
    background-color: $atp-blue-dark;
    &.activated {
      background-color: $atp-blue;
    }
    .diamond-icon {
      height: 1.6rem;
      margin-left: 4px;
    }
  }
}
