.start-survey {

  .title {
    font-size: 2rem;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .item-no-lower-border {
    .item-inner {
      border-bottom: none;
    }
  }

  .stacked-title {
    font-size: 1.6rem !important;
    color: black !important;
  }

  .picture-title {
    margin: 4vw;
    font-size: 1.6rem;
  }

  .picture-container {
    display: flex;
    margin: 4vw;
    justify-content: space-between;
  }

  .pic {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px $atp-light-grey4 solid;
    width: 44vw;
    height: 44vw;

    .default-icon {
      color: #B4B4B4;
      font-size: 30vw;
    }
  }

  .countries {
    margin-top: 6px;
  }

  .country {
    margin-right: 1vw;
    float: left;
  }

}

.submit-row {
  padding: 16px;
  border-top: 1px $atp-light-grey4 solid;

  .start-survey-button {
    background-color: $atp-blue-dark;
    &.activated {
      background-color: $atp-blue;
    }
    .diamond-icon {
      height: 1.6rem;
      margin-left: 4px;
    }
  }
}
