<ion-header>
  <ion-navbar [color]="platform.is('android') ? 'atp-blue-light' : 'light'">
    <ion-title>
      Highscores
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button clear icon-right (click)="toggleGlobal()">
        {{(!showWeekGlobal || !showTotalGlobal) ? 'Local' : 'Global'}}
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="selection" (ionChange)="ionChange()" [color]="platform.is('android') ? 'atp-blue-light' : 'primary'">
    <ion-segment-button value="week">Weekly</ion-segment-button>
    <ion-segment-button value="total">All-time</ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <div [ngSwitch]="selection">
    <ion-list *ngSwitchCase="'week'">
      <spinner padding *ngIf="(showWeekGlobal && !weekGlobalLoaded) || (!showWeekGlobal && !weekLocalLoaded)"
               [message]="'Loading highscores'"></spinner>
      <highscore-entry [highscore]="showWeekGlobal ? highscoreWeekGlobal : highscoreWeekLocal" [showWeek]="true"></highscore-entry>
    </ion-list>
    <ion-list *ngSwitchCase="'total'">
      <spinner padding *ngIf="(showTotalGlobal && !totalGlobalLoaded) || (!showTotalGlobal && !totalLocalLoaded)"
               [message]="'Loading highscores'"></spinner>
      <highscore-entry [highscore]="showTotalGlobal ? highscoreTotalGlobal : highscoreTotalLocal" [showWeek]="false"></highscore-entry>
    </ion-list>
  </div>
</ion-content>
