<ion-header>
  <ion-navbar color="atp-blue-light">
    <ion-title>
      Highscores
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="close()" *ngIf="platform.is('android')">Close</button>
      <button ion-button icon-only (click)="close()" *ngIf="platform.is('ios')"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="selection" (ionChange)="ionChange()" color="atp-blue-light">
    <ion-segment-button value="week">Weekly</ion-segment-button>
    <ion-segment-button value="total">All-time</ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>

  <ion-item color="white" class="buttongroup" no-lines>
    <span item-right *ngIf="selection == 'total'">
          <button ion-button small [outline]="showTotalGlobal ? null : ''" (click)="switchTotalGlobalLocal()">Global</button>
            <button ion-button small [outline]="(showTotalGlobal === false) ? null : ''" (click)="switchTotalGlobalLocal()">Local</button>
    </span>
    <span item-right *ngIf="selection == 'week'">
          <button ion-button small [outline]="showWeekGlobal ? null : ''" (click)="switchWeekGlobalLocal()">Global</button>
            <button ion-button small [outline]="(showWeekGlobal === false) ? null : ''" (click)="switchWeekGlobalLocal()">Local</button>
    </span>
  </ion-item>
  <div [ngSwitch]="selection">
    <ion-list *ngSwitchCase="'week'">
      <spinner *ngIf="(showWeekGlobal && !weekGlobalLoaded) || (!showWeekGlobal && !weekLocalLoaded)" [message]="'Loading highscores'"></spinner>
      <highscore-entry [highscore]="showWeekGlobal ? highscoreWeekGlobal : highscoreWeekLocal" [showWeek]="true"></highscore-entry>
    </ion-list>
    <ion-list *ngSwitchCase="'total'">
      <spinner *ngIf="(showTotalGlobal && !totalGlobalLoaded) || (!showTotalGlobal && !totalLocalLoaded)" [message]="'Loading highscores'"></spinner>
      <highscore-entry [highscore]="showTotalGlobal ? highscoreTotalGlobal : highscoreTotalLocal" [showWeek]="false"></highscore-entry>
    </ion-list>
  </div>
</ion-content>
