.highscore-row:nth-child(odd) .item-inner {
  background-color: #cef9f7;
}

.highscore-row:nth-child(even) .item-inner {
  background-color: #a9e3f9;
}

.highscore-row.itsme .item-inner {
  background-color: #b6ffb3;
}

.highscore-entry {
  display: flex;

  .highscore-name {
    flex-grow: 1;
    display: flex;
  }
  .highscore-name-element {
    margin-left: 2vw;
    min-width: 4vw;
  }

  .flag {
    height: 1.2em;
    border: 1px black solid;
  }
}
